
# Files will be copied into the target folder's .obsidian/plugins/obsidian-hermes folder
TARGET_DEV=~/tmp/obsidian-testing
TARGET_PROD=~/obsidian-vault
# Mobile deployment via MTP - override if your device path differs
TARGET_MOBILE=/run/user/1000/gvfs/mtp:host=Google_Pixel_8a_49121JEKB13191/Internal shared storage/Syncthing/org